.git
.idea
.vscode
.mvn
.qwen
data
logs
target
*.log
*.class
*.jar
*.war
.gradle
build
node_modules
.DS_Store
Thumbs.db
*.md
!.gitignore
!.dockerignore
vantage-ui/node_modules
vantage-ui/dist
vantage-admin/target
vantage-admin/logs
docker-compose*.yml
.github
.gitattributes
.gitignore
